body{
  background-image: url('https://cdn.discordapp.com/attachments/671694363235057675/967830744355454986/unknown.png');
  margin: 0px;
}
h2{
  color: white;
  font-family: Sans-serif;
}
#FatFuck{
  Position: Fixed;
  top: 20px;
}
#BruhWhat{
  Position: Fixed;
  top: 50%;
  left: 50%;
}
