body {
  background-image: url('https://cdn.discordapp.com/attachments/671694363235057675/967830744355454986/unknown.png');
  margin: 0;
  text-align: center; /* Center-align text content */
}

h2 {
  color: white;
  font-family: Sans-serif;
}

#FatFuck {
  position: fixed;
  top: 10px;
  left: 40px;
  font-size: 36px;
}

#BruhWhat {
  position: fixed;
  top: 350px;
  left: 775px;
  font-size: 20px;
}

#Captcha {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element */
}

#submitButton {
  width: 100px;
  position: fixed;
  top: calc(50% + 45px); /* Position below the Captcha with 20px spacing */
  left: calc(50% - 125px); /* Position to the left of the Captcha */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #Captcha {
    top: 50%; /* Center vertically on mobile */
  }

  #submitButton {
    top: calc(50% + 45px); /* Position below the Captcha on mobile */
    left: 50% - 151.5px; /* Center horizontally on mobile */
    transform: translateX(-50%); /* Center the element horizontally on mobile */
  }
}
