body{
  background-image: url('https://cdn.discordapp.com/attachments/671694363235057675/967830744355454986/unknown.png');
  margin: 0px;
}
h2{
  color: white;
  font-family: Sans-serif;
}
#FatFuck{
  Position: Fixed;
  top: 10px;
  left: 40px;
  font-size: 36px;
}
#BruhWhat{
  Position: Fixed;
  top: 350px;
  left: 775px;
  font-size: 20px;
}
#Captcha{
  Position: Fixed;
  top: 400px;
  left: 775px;
}
#submitButton{
  width: 100px;
}
@media (max-width: 768px) {
  #Captcha {
    top: 50%;
  }

  #submitButton {
    top: 60%;
  }
}
