body{
  background-image: url('https://cdn.discordapp.com/attachments/671694363235057675/967830744355454986/unknown.png');
  margin: 0px;
}
h2{
  color: white;
  font-family: Sans-serif;
}
#FatFuck{
  Position: Fixed;
  top: 10px;
  left: 40px;
  font-size: 36px;
}
#BruhWhat{
  Position: Fixed;
  top: 35%;
  left: 40%;
  font-size: 24px;
}
#Captcha{
  Position: Fixed;
  top: 40%;
  left: 40%;
}
