body {
  background-image: url('https://cdn.discordapp.com/attachments/671694363235057675/967830744355454986/unknown.png');
  margin: 0;
  text-align: center;
}

h2 {
  color: white;
  font-family: Sans-serif;
}

#FatFuck {
  position: fixed;
  top: 10px;
  left: 40px;
  font-size: 36px; 
}

#BruhWhat {
  position: fixed;
  font-size: 20px;
  top: calc(50% - 95px); /* Adjust this value as needed */
  left: calc(50% - 50px); /* Adjust this value as needed */
}

#Captcha {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#submitButton {
  width: 100px;
  position: fixed;
  top: calc(50% + 45px);
  left: calc(50% - 51.5px); /* Adjust this value as needed */
}

@media (max-width: 768px) {
  #BruhWhat {
    top: calc(50% - 95px); /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
  }

  #Captcha {
    top: calc(50% + 50px); /* Adjust this value as needed */
  }

  #submitButton {
    top: calc(50% + 100px); /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
  }
}
